<a href="/" class="inline">
    <img src="/images/Logo de ConnectsLine sur fond noir.png" alt="Anchor Logo" class="h-10 dark:hidden scale-110">
    <img src="/images/Logo moderne ConnectsLine sur fond noir-Photoroom.png" alt="Anchor Logo" class="h-10 hidden dark:block scale-110">
</a>